<div class="add-post-grid">

    <form action="/addpost" method="POST" class="new-post">

        <h2 id="label-title">New Post</h2> 
        <input type="text" name="title" placeholder="Title of Post"> 
        <input type="url" name="image_url" placeholder="Upload an image"> 
        <input type="radio" name="category" value="local"> Local 
        <input type="radio" name="category" value="global"> GLobal 
        <label id="label-content">Content</label> 
        <textarea name="content" id="" cols="50" rows="20" placeholder="text here"></textarea> 
        <button type="submit"> Post </button>

    </form>

</div>