<form action="/addpost" method="POST" class="post">

    <label for="">Title</label> <br>
    <input type="text" name="title"> <br>
    <label for="">Content</label> <br>
    <input type="radio" name="category" value="local"> Local <br>
    <input type="radio" name="category" value="global"> GLobal <br>
    <textarea name="content" id="" cols="30" rows="10" placeholder="text here"></textarea> <br>
    <button type="submit"> Submit </button>

</form>