<div class="delete-page">


    <div class="delete-text">

        <h2> Erase Yourself </h2>

        <p> IF you do, you will never become the Avatar </p>

    </div>

    <form action="/delete" method="POST">

        <button type="submit"> Delete Account </button>

    </form>

</div>