<div class="edit-page">

    <form action="/edit_profile" method="POST" autocomplete="off" class="sign-up-form">

        <h2> Edit Profile </h2>

        <div class="signup-content">
            <input class="form-input" type="text" name="first_name" placeholder="First name"> <br>

            <input class="form-input" type="text" name="last_name" placeholder="Last name"> <br>

            <div class="team-choice"> 
                <p> Choose your element type: </p>
                <ul>
                    <li><input type="radio" name="allegiance" value="air"> Air </li>
                    <li><input type="radio" name="allegiance" value="water"> Water </li>
                    <li><input type="radio" name="allegiance" value="earth"> Earth </li>
                    <li><input type="radio" name="allegiance" value="fire"> Fire </li>
                </ul>
            </div>

            <button type="submit"> Save Changes </button>
        </div>
    </form>




</div>