<div class="error-page">

    <div>
        <h1> There was a problem loading your page! </h1>
        <p> We will redirect you shortly. If you can't take Azula's wrath, click <a href="/" class="link-text">here</a></p>
    </div>

</div>