<div class="hero">

    <div class="hero-phrase">
        <h1> <span class="highlight-blue">Unleash</span><span class="highlight-green"> your</span><span class="highlight-red"> full</span> potential. </h1>
    </div>


    <form action="/" method="POST" autocomplete="off" class="login">
        
        <h2> Welcome back Bender! </h2>

        <p> New to Avatar? Join our community <a href="/signup" class="link-text"> here </a> </p>

        <div class="login-content">
            <input type="email" name="email" placeholder="Email" required> <br>
            
            <input type="password" name="password" placeholder="Password" required> <br>

            <button type="submit"> Log In </button>
        </div>
        
    </form>

</div>