<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Avatar</title>
    <link href="https://fonts.googleapis.com/css?family=Eagle+Lake|Julee" rel="stylesheet">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link rel="stylesheet" href="/air.css" type="text/css">
</head>
<body>

    <div class="wrapper">
        
        <header> 

            <h1> <a href="/"> <span class="highlight-blue">Av</span><span class="highlight-green">at</span><span class="highlight-red">ar</span></a> </h1>
            
            <nav>
                <ul>
                <% if session[:user] == nil %>
                    <li><a href="/">Sign In</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                <% elsif session[:user] != nil %>
                    <li><a href="/profile" class="link-text"><%= session[:user].username %></li>
                    <li><a href="/logout">Sign Out</a></li>
                    <li><a href="/settings">Settings</a></li>
                <% end %>
                </ul>
            </nav>

        </header>

        <div class="main-container">
        
            <%= yield %>

        </div>

        <footer>

            <nav>
                <ul>
                    <li><a href="#">Community</a></li>
                    <li><a href="#">Credits</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>

            <span> &copy; 2018 Avatar Rumblr Inc. </span>
        
        </footer>

    </div>
</body>
</html>