<h1> Welcome to your account </h1>

<nav>
    <ul>
        <li><a href="/local">Local</a></li>
        <li><a href="/global">Global</a></li>
    </ul>
</nav>
<a href="/addpost"> New Post </a>


<% if session[:user] == nil %>
    <p> No one is logged in </p>
<% elsif session[:user] != nil %>
    <p> Welcome, <%= session[:user].username %> </p>
<% end %>