<div class="settings">

    <div class="settings-text">

        <h2> Erase Yourself </h2>

        <p> IF you do, you will never become the Avatar </p>

    </div>

    <form action="/settings" method="POST">

        <button type="submit"> Delete Account </button>

    </form>

</div>