<div class="settings-page">

    <div class="edit-block">

        <h3> Edit Profile </h3>

        <p> It is a free world after all, bender! You can edit your profile <a href="/edit_profile" class="link-text"> here </a></p>

    </div>        
        

    <div class="delete-block"> 

        <h3> Delete Account </h3>

        <p> If you wish to leave the community, you can do so by clicking <a href="/delete" class="link-text"> here </a></p>

    </div>
        
    
</div>