<form action="/signup" method="POST" autocomplete="off" class="sign-up">

    <input type="text" name="first_name" placeholder="First name" required> <br>

    <input type="text" name="last_name" placeholder="Last name" required> <br>

    <input type="text" name="username" placeholder="Username" required> <br>
    
    <input type="email" name="email" placeholder="Email" required> <br>
    
    <input type="date" name="birthday" placeholder="DD/MM/YYYY" required> <br>
    
    <input type="password" name="password" placeholder="Password" required> <br>

    <div class="team-choice"> 
        <input type="radio" name="allegiance" value="air"> Air <br>
        <input type="radio" name="allegiance" value="water"> Water <br>
        <input type="radio" name="allegiance" value="earth"> Earth <br>
        <input type="radio" name="allegiance" value="fire"> Fire <br>
    </div>

    <br>

    <button type="submit"> Sign Up </button>
</form>