<div class="sign-up-page">

    <form action="/signup" method="POST" autocomplete="off" class="sign-up-form">

        <h2> Create Account </h2>
        <p class="highlight-red" id="form-emphasis"> All fields are required </p>

        <div class="signup-content">
            <input class="form-input" type="text" name="first_name" placeholder="First name" required> <br>

            <input class="form-input" type="text" name="last_name" placeholder="Last name" required> <br>

            <input class="form-input" type="text" name="username" placeholder="Username" required> <br>
            
            <input class="form-input" type="email" name="email" placeholder="Email" required> <br>
            
            <input class="form-input" type="date" name="birthday" placeholder="DD/MM/YYYY" required> <br>
            
            <input class="form-input" type="password" name="password" placeholder="Password" required> <br>

            <div class="team-choice"> 
                <p> Choose your element type: </p>
                <ul>
                    <li><input type="checkbox" name="allegiance" value="air"> Air </li>
                    <li><input type="checkbox" name="allegiance" value="water"> Water </li>
                    <li><input type="checkbox" name="allegiance" value="earth"> Earth </li>
                    <li><input type="checkbox" name="allegiance" value="fire"> Fire </li>
                </ul>
            </div>

            <button type="submit"> Sign Up </button>
        </div>
    </form>

</div>