.profile-grid {
    display: grid;
    grid-template-columns: var(--col-3);
    grid-auto-rows: var(--row-size);
    grid-template-areas:
    'header header header'
    'body body body';
    padding: 3rem 2rem;
    background-color: rgba(0, 105, 13, 1);
    height: 100%;
}

/* PROFILE HEADER */

.profile-head {
    grid-area: header;
    position: relative;
    margin-bottom: 1rem;
    padding: 4rem 0;
    color: rgba(198, 252, 101, 1);
    text-transform: capitalize;
}

.profile-head h1 {
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-size: 3rem;
}

.profile-head nav {
    position: absolute;
    top: 2.5rem;
    right: 5rem;
    font-size: 1.2rem;
}

.profile-head nav li {
    display: inline;
    padding: .5rem 1.5rem;
}

.profile-head nav li:hover {
    font-weight: 700;
    color: rgba(45, 71, 0, 1);
    text-decoration: underline;
}

/* PROFILE CONTENT */

.profile-body {
    grid-area: body;
    display: grid;
    grid-template-columns: var(--col-3);
    grid-auto-rows: var(--row-size);
    grid-template-areas:
    'profile post post';
}

.profile-pic {
    grid-area: profile;
}

.profile-pic img {
    height: auto;
    width: 50%;
    margin-left: 2rem;
}

.profile-pic form {
    margin-left: 2rem;
    padding: 1rem;
}

.profile-pic form * {
    font-family: 'Julee', cursive;
}

.profile-pic form input {
    padding: .5rem 2rem;
}

.profile-pic form input:focus {
    outline-style: none;
}

.profile-pic form input::placeholder {
    font-family: 'Julee', cursive;
    font-size: 1.2rem;
}

.profile-pic form button {
    width: 5rem;
    padding: .5rem;
    background-color: rgba(251, 255, 102, 1);
    color: rgba(27, 27, 17, 1);
    font-size: 1rem;
    font-family: 'Julee', cursive;
    border-style: none;
}

.profile-pic form button:hover {
    background-color: rgba(27, 27, 17, 1);
    color: rgba(251, 255, 102, 1);
    font-weight: 700;
}

.bio-details {
    margin-left: 3rem;
    letter-spacing: .2rem;
    color: rgba(98, 244, 116, 1);    
}

.bio-details h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.bio-details p {
    font-size: 1.1rem;
}

/* Latest Posts */

/* .latest-post, .latest-post * {
    border: 1px solid red;
} */

.latest-post {
    grid-area: post;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    background-color: rgba(198, 252, 101, 1);
}

.latest-post h2 {
    font-size: 2.2rem;
    background-color: rgba(131, 135, 0, .5);
    color: rgba(0, 59, 7, 1);
    margin-bottom: 1.2rem;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    text-align: center;
}

.latest-content {
    margin-bottom: 2rem;
    padding: 1rem;
}

.latest-content h3 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
}   

.latest-content img {
    width: 50%;
    height: auto;
    margin-bottom: 1rem;
}

#profile-author {
    margin-bottom: .5rem;
    font-size: 1.1rem;
    font-weight: 700;
}

#create-date {
    margin-bottom: .2rem;
    font-size: .8rem;
    font-style: italic;
}

#post-body {
    font-size: 1.2rem;
}

/* ADD POST STYLING */

.add-post-grid {
    background: center / cover no-repeat url('/images/world-map.jpg');
    height: 120vh;
    position: relative;
}

.new-post {
    background-color: rgba(255, 153, 78, .7);
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 3.5rem;
    height: auto;
    width: 30%;
    text-align: center;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;

}

.new-post * {
    display: block;
    margin-bottom: 1rem;
    border: 1px solid red;
    font-family: 'Julee', cursive;    
    border-style: none;
}

#label-title {
    padding: .5rem 0;
    font-size: 2rem;
    letter-spacing: .3rem; 
    background-color: rgba(0, 0, 0, .8);
    color: var(--landing-text);
}

.new-post input[type="radio"] {
    display: inline;
    margin: 0 .5rem;
}

#label-content {
    font-size: 1.3rem;
    letter-spacing: .3rem; 
    padding-top: 1rem;
    text-decoration: underline;
}


.new-post input[type="text"], .new-post input[type="url"] {
    width: 100%;
    padding: 1rem;
    font-size: 1.3rem;
}

.new-post textarea {
    width: 100%;
    font-size: 1.3rem;
    padding: 1rem;
}

.new-post button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    text-transform: uppercase;
    background-color: rgba(27, 27, 17, .8);
    color: var(--landing-text);
}

.new-post button:hover {
    background-color: var(--landing-text);
    color:  rgba(27, 27, 17, .8);
    transition: .6s;
}


/* LOCAL COMMUNITY */

.local-community {
    background: center / cover no-repeat url('/images/earth-1.jpg');
    min-height: 100%;
    display: grid;
    grid-template-columns: var(--col-4);
    grid-auto-rows: var(--row-size);
    grid-template-areas:
    'head head head head'
    '. title title .'
    'body body body body';
    padding-bottom: var(--grid-block);
}

.local-head {
    grid-area: head;
    background-color: rgba(0, 105, 13, .7);
    color: rgba(251, 255, 102, 1);
    text-align: center;
}

.local-head nav {
    margin-top: 2rem;
}

.local-head nav li {
    display: inline;
    text-transform: capitalize;
    padding: .5rem 1.5rem;
}

.local-head nav li:hover {
    color: rgba(0, 59, 7, 1);
}

.local-title {
    grid-area: title;
    text-align: center;
    align-self: center;
    margin: 1.5rem 0;
    background-color: rgba(0, 59, 7, .6);
    color: rgba(198, 252, 101, 1);
}


.local-posts {
    grid-area: body;
    display: grid;
    grid-template-columns: var(--col-3);
    grid-auto-rows: var(--row-size);
    grid-row-gap: 1rem;
    justify-self: center;
    margin-bottom: var(--grid-block);
}

.local-block {
    background-color: rgba(45, 71, 0, .65);
    color: rgba(251, 255, 102, 1);
    margin: 1rem .5rem;
    padding: 1.5rem;
}

.local-block h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.local-block p {
    font-size: 1.1rem;
}

.local-block img {
    height: 50%;
    width: 50%;
    margin-bottom: .5rem;
}

#local-created {
    margin-bottom: 1rem;
}

#local-content {
    margin-bottom: 2rem;
}


/* SETTINGS */

.settings {
    background: center / cover no-repeat url('/images/avatar-state.jpg');
    height: 100vh;
    position: relative;
}

.settings-text {
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 153, 78, .3);
    padding: 1rem;
    width: 30%;
    height: 30%;
    text-align: center;
}

.settings-text h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: rgba(255, 229, 178, 1);
}

.settings-text p {
    font-size: 1.5rem;
    color: rgba(255,  0,  0,1);
}

.settings form {
    position: absolute;
    top: 15rem;
    left: 50%;
    transform: translateX(-50%);
}

.settings form button {
    font-size: 1.5rem;
    padding: 1rem;
    border-style: none;
    font-family: 'Eagle Lake', cursive;
    background-color: rgba(161, 0, 0, 1);
    color: rgba(221, 213, 207, 1);
    border-radius: 1rem;
}

.settings form button:hover {
    background-color: rgba(221, 213, 207, 1);
    color: rgba(161, 0, 0, 1);
    font-weight: 700;
    transition: .6s;
}